.stories {
    width: 90%;
    max-width: 2400px;
    height: auto;
    margin: 0 auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.stories-title {
    font-family: Poppins, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    text-align: left;
    color: #FFFFFF;
}

.stories-title-desc {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #FFFFFF;
}

.stories-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.stories-cards-card {
    width: 30%;
    border: 1px solid #DEDEDE;
    background-color: #DEDEDE;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards-card-img {
    width: 100%;
    height: auto;
}

.cards-card-text {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #425d6c;
}

.cards-card-desc {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #22343D;
}

.cards-card-span {
    color: #22343D;
    font-weight: 900;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .stories-title, .stories-title-desc {
        text-align: center;
    }

    .stories-cards-card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .stories-cards-card {
        width: 100%;
    }

    .stories-title {
        font-size: 28px;
        line-height: 42px;
    }

    .stories-title-desc {
        font-size: 14px;
        line-height: 22px;
    }

    .cards-card-text {
        font-size: 14px;
        line-height: 24px;
    }

    .cards-card-desc {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 480px) {
    .stories-title {
        font-size: 24px;
        line-height: 36px;
    }

    .stories-title-desc {
        font-size: 12px;
        line-height: 18px;
    }

    .cards-card-text {
        font-size: 12px;
        line-height: 20px;
    }

    .cards-card-desc {
        font-size: 18px;
        line-height: 28px;
    }

    .stories-cards {
        gap: 20px;
    }
}
